// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #EBC2AC; }
.My-Color-Theme-2-hex { color: #FFFCFA; }
.My-Color-Theme-3-hex { color: #E6D4CA; }
.My-Color-Theme-4-hex { color: #689997; }
.My-Color-Theme-5-hex { color: #CAE6E4; }